
    <%= render 'homepage/header' %>
<!-- Header -->
<!-- <header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Fashion show!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <%= link_to 'Get started', new_user_registration_path, class: 'page-scroll btn btn-xl' %>
        </div>
    </div>
</header> -->
<body>
<div id="Container_Carousel">
  <div class="rows">

   <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" >

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img src="../assets/1.jpg" alt="First Slide">
        </div>

        <div class="item">
         <img src="../assets/2.jpg" alt="Second Slide">
       </div>

       <div class="item">
         <img src="../assets/4.jpg" alt="Third Slide">
       </div>

     </div>

     <!-- Controls -->
     <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>

</div>
</div>
</div>
</div>

</br>
</br>


<div class="container1">
    <div class="row1">
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <img src="http://www.estreet.in/wp-content/uploads/2014/05/web-design-banner.png" alt="">
                <a href="#" class="box-content">
                    <center><h5 class="title">Showroms</h5></center>
                    <p class="description">Welcome To Our Fashion show!
              IT'S NICE TO MEET YOU</p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <img src="http://www.estreet.in/wp-content/uploads/2014/05/web-design-banner.png" alt="">
                <a href="#" class="box-content">
                    <center><h5 class="title">Brands</h5></center>
                    <p class="description">Be discovered by the most sought after retailers in the world</p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <img src="http://www.estreet.in/wp-content/uploads/2014/05/web-design-banner.png" alt="">
                <a href="#" class="box-content">
                    <center><h5 class="title">Retailers</h5></center>
                    <p class="description">TO OVER 1,200 MENS, WOMENS AND HOME BRANDS IN THE INDUSTRY</p>
                </a>
            </div>
        </div>
    </div>
</div>  



</body>




<style>
  .header_login {
    display: none;
  }
  .slidebar_login {
    display: none;
  }

  /* SLIDER */
#Container_Carousel .rows .col-xs-12{
  margin:0;
  padding:0;
}

#Container_Carousel{
  margin:0;
  padding:0;
  width:100%;
  max-height: 850px;
}

.item img{
  width:100%;
  max-height: 850px;
}

.carousel,.item,.active{
  height:100%;
}

.carousel-inner{
  height:100%;
}

.carousel-control.left, .carousel-control.right {
    background-image:none;
}
.glyphicon-circle-arrow-left {
  position: absolute;
  top: 50%;
  font-size: 50px;
  opacity: 0.5;
  left: 50px;
}
.glyphicon-circle-arrow-right {
  position: absolute;
  top: 50%;
  font-size: 50px;
  opacity: 0.5;
  right: 50px;
}
.box{
    border:4px solid #fff;
    box-shadow:0 0 4px grey;
    position:relative;
}
.box:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #141414 0%, #691100 40%, #1b1b1b 100%);
    opacity: 0.3;
    transition:all 0.5s ease;
}
.box img{
    width:100%;
    height: auto;
}
.box .box-content{
    background: rgba(0,0,0,0);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 38px;
    transition: all 0.35s ease 0s;
}
.box:hover .box-content{
    background: rgba(0,0,0,0.5);
}
.box .box-content:after{
    content: "";
    border: 7px solid #fff;
    position: absolute;
    top:21px;
    left: 20px;
    right: 30px;
    height: 35%;
    transition: all 0.35s ease 0s;
}
.box:hover .box-content:after{
    top:60%;
}
.box .title{
    color:#fff;
    font-size:20px;
    font-weight: bolder;
    text-transform:uppercase;
}
.box .description{
    position: relative;
    top:5%;
    color:#fff;
    opacity:0;
    transition: all 0.35s ease 0s;
}
.box:hover .description{
    top:55%;
    opacity:1;
}
@media only screen and (max-width: 990px) {
    .box{
        margin-bottom:15px;
    }
}
@media only screen and (max-width: 479px) {
    .box .title{ font-size: 15px;}
    .box .description{ font-size: 13px; }
    .box:hover .description{ top:48%; }
}
</style>
