<div id="page-top" class="index">
    <%= render 'homepage/header' %>
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <%= link_to 'Get started', new_user_registration_path, class: 'page-scroll btn btn-xl' %>
        </div>
    </div>
</header>
</div>
<%= render 'homepage/footer' %>
  