<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Monika</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>



</head>



<body>
  <body id="page-top" class="index">

   <!--                    -->

   <!---    Left menu         -->   
   <nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Dashboard<span style="font-size:16px;" class="pull-right hidden-xs fa fa-home"></span></a></li>
          <li ><a href="#">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-users"></span></a></li>
          <li ><a href="#">Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-comments"></span></a></li>
          <li><a href="#">Search<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-search"></span></a></li>
          <li ><a href="#">Orders<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-shopping-cart"></span></a></li>
          <li ><a href="/collections/collections">Collection<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-glass"></span></li>
          <li ><a href="#">Products<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-gift"></span></a></li>
          <li ><a href="#">My connection<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-exchange"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main">
    <!--                   -->    

  </body>
  </div>
  </body>
  </body>
  </html>