

<head>

    <title>Blog Post Page</title>

</head>

<body>
    <header>
    <div class="clearfix"></div>
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">First Tab</a></li>
            <li><a href="#tab-2" role="tab" data-toggle="tab">Second Tab</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-1"></div>
            <div role="tabpanel" class="tab-pane" id="tab-2">
                <p>Second tab content.</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-3">
                <p>Third tab content.</p>
            </div>
        </div>
    </div>
    </header>
    
    <article></article>
    <ul class="nav nav-pills categories">
        <li class="active"><a href="#">Home page</a></li>
        <li class="active"><a href="#">About us</a></li>
    </ul>
    <hgroup></hgroup>
    <aside></aside>
    <div class="container post">
        <div class="row">
            <div class="col-md-6 post-title">
                <h1>Imoni showroom Paris</h1>
                <p class="author"><strong>monika</strong><span class="text-muted">October 6th 2016 </span></p>
            </div>
            <div class="col-md-6 col-md-offset-0 post-body">
                <p class="lead">The<strong> IMONI SHOWROOM PARIS</strong> is a seasonal showroom created by Moni Rab. </p>
                <p class="lead">It provides an inspirational environment which encourages successful partnerships between brands, buyers and press. </p>
                <p class="lead">We bring together highly sought after collections in addition to new and exciting brands in a sophisticated, elegant and central Paris environment during Paris Fashion Week. </p>
                <figure><img class="img-thumbnail" src="assets/images/DSC_0171PS.jpg">
                    <figcaption>Monika </figcaption>
                </figure>
                <p class="lead">These collections beautifully compliment one another and attract exclusive buyers from around the world. </p>
            </div>
        </div>
    </div>
    <footer>
        <h5>Imoni Showroom© 2017</h5></footer>

</body>

