    <%= render 'homepage/header' %>
    <div id="fullscreen_bg" class="fullscreen_bg1" style="margin-top: -121px;"/>
</br>
</br>
</br>
</br>
</br>
</br>
<body>


<div class="container">
    <div class="row blog-row bg-color-white block-padding">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row blog-date">
                Mai 09, 2017
            </div>
            
            <div class="row blog-title">
                <a href="javascript:;">Blog 1</a>
            </div>
            
            <div class="row blog-image center-block">
                <figure class="effect-layla">
                    <img src="../assets/blog1.jpg">
                    <figcaption></figcaption>
                </figure>
            </div>

            <div class="row blog-image center-block">
                <figure class="effect-layla">
                    <img src="../assets/blog2.jpg">
                    <figcaption></figcaption>
                </figure>
            </div>
            
            <div class="row blog-content"><h4>
                That is what happened in March 2016 during Paris Fashion Week! IMONI Showroom presented FW16-17 collections signed by many international designers from all over the world. This beautiful picture portraits one of our favourite collaborator, Stacie Chen, who is here wearing Hans Schwarz Pelze long fur coat for MIUMIU Fashion Show in Jardin de Tuileries in Paris. She decided to close her parisian fashion week with this stunning outfit and we are delighted to know that she made it inside our Showroom.
            </h4></div>
        </div>
    </div>

    <div class="blog-row-spacing"></div>
    
    <div class="row blog-row bg-color-white block-padding">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row blog-date">
                Mai 7, 2017
            </div>
            
            <div class="row blog-title">
                <a href="javascript:;">Blog 2</a>
            </div>
            
            <div class="row blog-image center-block">
                <figure class="effect-layla">
                    <img src="../assets/blog3.JPG">
                    <figcaption></figcaption>
                </figure>
            </div>
            
            <div class="row blog-content"><h4>
            That's the happy and smily face due to a new collaboration signed! Stacie Chen is back in town for Paris Fashion Week, March 2017, and this time not only as a very special visitor, but as a protagonist. This postcard, signed by her, is what you find inside IMONI Stockholm by Stacie Chen shoes box. In fact the famous Swedish brand, IMONI Stockholm, and the taiwanese celebrity, Stacie Chen, created a unique product together: a slip-on flash sneaker made by camouflage navy-black nylon and mirror leather flash which will soon walk by the main european and asian street styles. This was an exciting day for the brand and the Showroom as well. Well Done!!.
            </h4></div>
        </div>
    </div>

    <div class="row blog-row bg-color-white block-padding">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row blog-date">
                Mai 7, 2017
            </div>
            
            <div class="row blog-title">
                <a href="javascript:;">Blog 3</a>
            </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vgyLyWX7R9s" frameborder="0" allowfullscreen></iframe>

         <div class="row blog-content"><h4>
            The famous Chinese singer and fashion blogger Tracy Tan visits Imoni Showroom during Paris Fashion Week in March 2017. She gets to know all amazing designers presented in Imoni Showroom and introduces those brand to     her followers. It is pleasure to collaborate with Tracy Tan and expand to Chinese market together. 
            </h4></div>
        </div>
        </div>
    
</div>


<%= render 'homepage/footer' %>
</body>
</div>


<style>
    /* Move down content because we have a fixed navbar that is 50px tall */
// body {
//     padding-top: 50px;
//     padding-bottom: 20px;
//     background: #f1f1f1;
// }
div.clear {
    clear: both;
}

.bg-color-white {
    background: #fff;   
}
.block-padding {
    padding: 10px;  
}


/** 
 * Style for blog row
 ****************************************************************************/
.blog-row {
    font-family: 'Open Sans', sans-serif;
    text-align: center; 
}
.blog-row-spacing {
    padding: 25px;
}
.blog-date {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 1.2em;
}
.blog-title {
    font-family: 'Anton', sans-serif;
    font-size: 2.7em;
    text-transform: uppercase;
}
.blog-image  img{
    max-width: 100%;
    border: 1px solid transparent;
    padding: 10px;
}


/**
 * Common style for blog image
 ****************************************************************************/
.blog-image figure {
    position: relative;
    width: 100%;
    text-align: center;
}

.blog-image figure img {
    width: 100%;
    opacity: 0.8;
    text-align: center;
}

.blog-image figure figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.blog-image figure figcaption::before,
.blog-image figure figcaption::after {
    pointer-events: none;
}

.blog-image figure figcaption,
.blog-image figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Effect on image mouse over 
 ****************************************************************************/
.blog-image figure.effect-layla figcaption::before,
.blog-image figure.effect-layla figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}

.blog-image figure.effect-layla figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.blog-image figure.effect-layla figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.blog-image figure.effect-layla h2 {
    padding-top: 26%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.blog-image figure.effect-layla p {
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

.blog-image figure.effect-layla img,
.blog-image figure.effect-layla h2 {
    
}

.blog-image figure.effect-layla img,
.blog-image figure.effect-layla figcaption::before,
.blog-image figure.effect-layla figcaption::after,
.blog-image figure.effect-layla p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.blog-image figure.effect-layla:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.blog-image figure.effect-layla:hover figcaption::before,
.blog-image figure.effect-layla:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.blog-image figure.effect-layla:hover h2,
.blog-image figure.effect-layla:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.blog-image figure.effect-layla:hover figcaption::after,
.blog-image figure.effect-layla:hover h2,
.blog-image figure.effect-layla:hover p,
.blog-image figure.effect-layla:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.fullscreen_bg1 {

    background-image: url('http://www.wallpaperup.com/uploads/wallpapers/2012/08/30/12087/3574f899daef41d2f145eba13ff7840f.jpg');
    background-size: 100% 100%;
  }

</style>

