<div class="navbar-default sidebar slidebar_login" role="navigation" style="margin-top: 0;">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
            </li>
            <li>
                <a href="/homes"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <% if current_user.activated && current_user.type_user == 2 %>
                <li><a href="/admin/actives"><i class="icon fa fa-list-alt fa-fw"></i>Active user</a></li>
                <li onclick="window.location.reload(true)"><a href="/admin/active_orders/1"><i class="icon fa fa-file-o fa-fw" ></i>Active order</a></li>
                <li><a href="/admin/active_orders"><i class="icon fa fa-file-o fa-fw"></i>Orders</a></li>
                <li><a href="/admin/notifies"><i class="icon fa fa-bar-chart-o fa-fw"></i>Notifition Order</a></li>
            <% else %>
                <li><a href="/profiles"><i class="icon fa fa-book fa-fw"></i>My profile</a></li>
                <% if current_user.type_user == 0 %>
                <li><a href="/connections"><i class="icon fa fa-list-alt fa-fw"></i>Find Retaillers</a></li>
                <% elsif current_user.type_user == 1 %>
                <li><a href="/connections"><i class="icon fa fa-list-alt fa-fw"></i>Find Brands</a></li>
                <% end %>
                <li><a href="/networks"><i class="icon fa fa-file-o fa-fw"></i>My network</a></li>
                <li><a href="/active_networks"><i class="icon fa fa-file-o fa-fw"></i>Active Connect</a></li>
                <% if current_user.type_user == 0 %>
                  <li><a href="/notifies"><i class="icon fa fa-file-o fa-fw"></i>Notification(<%=  Connection.where(brand_id: current_user.brand.id, seen: 1).count %>)</a></li>
                <% elsif current_user.type_user == 1 %>
                  <li><a href="/notifies"><i class="icon fa fa-file-o fa-fw"></i>Notification(<%=  Connection.where(retailler_id: current_user.retailler.id, seen: 3).count %>)</a></li>
                <% end %>

                <% if current_user.type_user == 0 %>
                  <li onclick="window.location.reload(true)"><a href="/brand_orders/1"><i class="icon fa fa-file-o fa-fw"></i>Active Order</a></li>
                  <li><a href="/brand_orders"><i class="icon fa fa-file-o fa-fw"></i>Order</a></li>
                  <li><a href="/notifie_order"><i class="icon fa fa-file-o fa-fw"></i>Notification Order</a></li>
                <% elsif current_user.type_user == 1 %>
                  <li><a href="/notifie_order"><i class="icon fa fa-file-o fa-fw"></i>Notification Order</a></li>
                <% end %>


                <% if current_user.type_user == 1 %>
                <li><a href="/my_orders"><i class="icon fa fa-bar-chart-o fa-fw"></i>My orders</a></li>
                <% end %>
                <!-- <li><a href="/homes"><i class="icon fa fa-table fa-fw"></i>Message</a></li> -->
                <% if current_user.type_user == 0 %>
                <li><a href="/products"><i class="icon fa fa-tasks fa-fw"></i>My products</a></li>
                <li><a href="/collections"><i class="icon fa fa-calendar fa-fw"></i>My collections</a></li>
                <% end %>

               <!--  <li><a href="/homes"><i class="icon fa fa-pencil fa-fw"></i>My settings</a></li> -->
            <% end %>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
