<div id="page-top" class="index">
    <%= render 'homepage/header' %>
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">THE ONE-STOP SOLUTION</div>
            <div class="intro-heading">TO MANAGE ALL YOUR BUYING NEEDS	</div>
            <%= link_to 'Get started', new_user_registration_path, class: 'page-scroll btn btn-xl' %>
        </div>
    </div>
</header>
<body>
<section>
	<div class="col-lg-12 text-center">
                    <h2 class="section-subheading text-muted">Locate showrooms for your market week visits</br>
Book showroom appointments</br>
Scout and keyword search collections prior market dates</br>
Showrooms selection’s reduce your search time as your trusted partner knows what you are looking for</br>
Place orders online in pre-order, re-order and in market</br>
Reduce mistakes in ordering</br></h2>
                </div>
             </section>
            <span class="fa-stack fa-1x"></span>
</body>
</div>

<%= render 'homepage/footer' %>