<div id="page-top" class="index">
    <%= render 'homepage/header' %>
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">CONNECT WITH THE FINEST SHOWROOMS TO DISCOVER THE GREATEST BRANDS FROM ALL OVER THE WORLD</div>
            <!-- <div class="intro-heading">TO MANAGE ALL YOUR BUYING NEEDS	</div> -->
            <%= link_to 'Get started', new_user_registration_path, class: 'page-scroll btn btn-xl' %>
        </div>
    </div>
</header>
<body>
<section>
	
  <div class="container1">
    <div class="row">
        <!-- Boxes de Acoes -->
      <div class="col-md-6">
      <div class="box">             
        <div class="icon">
            <span class="fa-stack fa-3x"></span>
<!--           <div class="image"><i class="fa fa-thumbs-o-up"></i></div> -->
          <div class="info">
            <b><h3 class="title"><center>PREPARE FOR YOUR MARKETS</center></h3></b></br>
            <p><center>
              •Locate showrooms for your market week visits</br>
•Book showroom appointments</br>
•Scout and keyword search collections prior market dates</br>
•Showrooms selection’s reduce your search time as your trusted partner knows what you are looking for</br>
            </p></center>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>
      
        <div class="col-md-6">
      <div class="box">             
        <div class="icon">
          <span class="fa-stack fa-3x"></span>
          <div class="info">
            <b><h3 class="title"><center>PLACE ORDERS ONLINE</center></h3></b></br>
              <p><center>
               •Place orders online in pre-order, re-order and in market</br>
•Reduce mistakes in ordering</br>
•Manage your buying from anywhere</br>
•Shop several brands with one common checkout</br>
            </center></p>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>
      

</div>  
             </section>
            <span class="fa-stack fa-1x"></span>
</body>
</div>

<%= render 'homepage/footer' %>
<style type="text/css">
    header {
  background-image: url('../assets/2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
</style>