<h3>
    CONTACT
HAVE A QUESTION, INQUIRY?  A RETAILER, WISHING TO GET A LINE SHEET?  A JOURNALIST, NEEDING PRESS SAMPLES? BOUGHT A PRODUCT ONLINE? PLEASE CONTACT US ON: 

E-MAIL: CUSTORMERSERVICE@IMONI.EU

TEL: +33.1.53.83.09.02

IMONI, 8, AVENUE HOCHE, 75008 PARIS, FRANCE
</h3>

<div class="container">
    <form class="well col-sm-12 col-md-12">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <label>First Name</label>
                <input class="form-control" placeholder="Your First Name" type="text">
                <label>Last Name</label>
                <input class="form-control" placeholder="Your Last Name" type="text">
                <label>Email Address</label>
                <input class="form-control" placeholder="Your email address" type="text"> <label>Subject</label>
                <select class="col-sm-3 col-md-3 form-control" id="subject" name="subject">
                    <option selected="" value="na">Choose One:</option>
                    <option value="service">General Customer Service</option>
                    <option value="suggestions">Suggestions</option>
                    <option value="product">Product Support</option>
                </select>
            </div>
    
            <div class="col-sm-8 col-md-8">
                <div class="form-group">
                    <label>Message</label> 
                    <textarea class="col-sm-3 col-md-3 form-control" id="message" name="message" rows="10"></textarea>
                    <button class="btn btn-primary pull-right" type="submit">Send</button>
                </div>
            </div>            
        </div>
    </form>
</div>

<div class="container">
	<div class="row-fluid">
        <div class="span8">
        	<iframe height="500" width="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.9948927594237!2d2.3009368152225202!3d48.87737390732465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fc011c4831d%3A0x8a31e6b5f12f3ca!2s8+Avenue+Hoche%2C+75008+Paris!5e0!3m2!1sfr!2sfr!4v1494341993184"></iframe>
    	</div>    	
    </div>
</div>

<%= render 'homepage/footer' %>