<div id="page-top" class="index">
    <%= render 'homepage/header' %>
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">EXPAND YOUR BUSINESS BY</div>
            <div class="intro-heading">ENTERING NEW MARKETS </div>
            <%= link_to 'Get started', new_user_registration_path, class: 'page-scroll btn btn-xl' %>
        </div>
    </div>
</header>
<body>
<section>
	<div class="col-lg-12 text-center">
                    <h2 class="section-subheading text-muted">Show your brand’s collection to select buyers</br>
Take orders all year around</br>
Secure your commission via online transaction</br>
Increase your client network, meet buyers online</br>
Introduce your brands to buyers year around</br>
Book appointments for your market dates</br>
Sign up brands exclusively for online management</br>
Increase your revenue basis</br></h2>
                </div>
             </section>
            <span class="fa-stack fa-1x"></span>
</body>
</div>

<%= render 'homepage/footer' %>
<style type="text/css">
	header {
  background-image: url('../assets/2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
</style>