<div id="page-wrapper">
  <h6>You are <b><% if user_signin_not_active %>
    <% if current_user.type_user == 0 %>
      <p>Brand</p>
    <% elsif current_user.type_user == 1 %>
      <p>Retailler</p>
    <% else %>
      <p>Admin</p>
    <% end %></b></h6>
    <b>Account not active</b></br>
    <b>FILL THE SIMPLE FORM BELOW AND OUR TEAM WILL CONTACT YOU WITHIN 48 HOURS.</b>

  <% else %>
    <% if current_user.type_user == 0 %>
      <p>Brand</p>
    <% elsif current_user.type_user == 1 %>
      <p>Retailler</p>
    <% else %>
      <p>Admin</p>
    <% end %>
    <h1>Account actived</h1>
  <% end %>
</div>
<style>
# body{
#   background:url('http://www.wallpaperup.com/uploads/wallpapers/2017/09/18/1099286/6513940df6f631e60140d43e229e1b2d.jpg');
#   background-size:100% 100%;
#   background-attachment: fixed;
#   background-repeat:no-repeat;
#   font-family: 'Open Sans', sans-serif;
#   padding-bottom: 40px;
# }
</style>

