<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>Dashboard</a></li>
                <li><a href="#"><i class="fa fa-list-alt fa-fw"></i>Find Retaillers</a></li>
                <li><a href="#"><i class="fa fa-file-o fa-fw"></i>My network</a></li>
                <li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>My orders</a></li>
                <li><a href="#"><i class="fa fa-table fa-fw"></i>Message</a></li>
                <li><a href="#"><i class="fa fa-tasks fa-fw"></i>My products</a></li>
                <li><a href="#"><i class="fa fa-calendar fa-fw"></i>My collections</a></li>
                <li><a href="#"><i class="fa fa-book fa-fw"></i>My profile</a></li>
                <li><a href="#"><i class="fa fa-pencil fa-fw"></i>My settings</a></li>
            </ul>
        </div>
    </div>
</div>


