<div id="page-top" class="index">
    <%= render 'homepage/header' %>
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">CRACK THE WHOLESALE PUZZLE BY BEING REPRESENTED BY
THE FOREMOST SHOWROOMS IN THE TRADE</div>
            <div class="intro-heading"> </div>
            <%= link_to 'Get started', new_user_registration_path, class: 'page-scroll btn btn-xl' %>
        </div>
    </div>
</header>
<body>
<section>
    <div class="container1">
    <div class="row">
        <!-- Boxes de Acoes -->
      <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">             
        <div class="icon">
            <span class="fa-stack fa-3x"></span>
<!--           <div class="image"><i class="fa fa-thumbs-o-up"></i></div> -->
          <div class="info">
            <b><h3 class="title"><center>BE REFERENCED BY A TOP SHOWROOM</center></h3></b></br></br>
            <p><center>
              •Be introduced to market by some of the best showrooms around the world, with great connections to retailers</br>
•Show your collections year around all over the world</br>
•Review target retailers and follow through prospection with your showroom</br>
•Collections are maintained online by showroom, products are uploaded quickly and efficiently – Save your resources!</br>
            </p></center>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>
      
        <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">             
        <div class="icon">
          <span class="fa-stack fa-3x"></span>
          <div class="info">
            <b><h3 class="title"><center>SECURE YOUR REVENUES VIA ONLINE TRANSACTIONS – DO NOT WORRY ABOUT GETTING PAID</center></h3></b></br>
              <p><center>
               •Receive orders online in pre-order and post-market dates</br>
•Avoid order mistakes via on-line order placement</br>
•Possibility to get credit insurance on buyers’ orders</br>
            </center></p>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>
      
        <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">             
        <div class="icon">
         <!--  <div class="image"><i class="fa fa-desktop"></i></div> -->
         <span class="fa-stack fa-3x"></span>
          <div class="info">
            <b><h3 class="title"><center>BE PART OF THE DIGITAL REVOLUTION</center></h3></b></br></br>
              <p><center>
                •Have access to world wide buyers at a reasonable cost, whillst preserving your resources for creativity and delivery on orders</br>
•Show your style variations digitally</br>
•Allow for scouting of your products by buyers keyword research</br>
            </p></center>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>   
</div>  
             </section>
            <span class="fa-stack fa-1x"></span>
</body>
</div>

<%= render 'homepage/footer' %>
<style type="text/css">
    header {
  background-image: url('../assets/2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
</style>