<div id="page-top" class="index">
    <%= render 'homepage/header' %>
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">EXPAND YOUR BUSINESS BY</div>
            <div class="intro-heading">ENTERING NEW MARKETS </div>
            <%= link_to 'Get started', new_user_registration_path, class: 'page-scroll btn btn-xl' %>
        </div>
    </div>
</header>
<body>
<section>
	<div class="col-lg-12 text-center">
                    <h2 class="section-subheading text-muted">Showroom maintenance of collections online</br>
Review prospect retailers and follow through prospection with your showroom</br>
Be visible year around to retailers who can scount your collections</br>
Increase your client network, meet buyers online</br>
Secure your revenues via online transactions, do not worry about getting paid!</br>
Receive orders online in pre-order and post-market dates</br></h2>
                </div>
             </section>
            <span class="fa-stack fa-1x"></span>
</body>
</div>

<%= render 'homepage/footer' %>