<script>
  $(document).on('ready page:change', function() {
    $('#active_event').change(function() {
      console.log('Toggle: ' + $(this).prop('checked'))
    })
  });
  var app = angular.module("app", []);
  app.controller("product_controller", ['$scope', '$rootScope', function($scope, $rootScope) {
    $scope.test = "hehe";
    $scope.number_category = 0;
    $scope.list = [];
    $scope.count = 0;
    $scope.test = function() {
      alert("1");
    }
  }]);

  app.directive("addbuttonsbutton", function(){
    return {
      restrict: "E",
      template: '<button type="button" class="btn btn-primary" style="margin-left: 10px;" addbuttons>  + ADD CATEGORY</button>'
    }
  });

  app.directive("addbuttons", function($compile){
    return function(scope, element, attrs){
      element.bind("click", function(){
        scope.category_index = 0;
         scope.countries = [
        {name:'Shoes', value:["Pumps & Stillettos", "Mules & Clogs", "Loafers & Moccasins", "Wedges", "Ballerinas & Flats", "Ankle Boots", "Espadrillas", "Boots", "Slippers", "Sneakers & Slip on", "Trekking, Hiking & Sport Shoes", "Sandals", "Baby & Kids Shoes", "Lace up Shoes", "Flip Flops"]},
       {name:'Clothing', value:["Sportswear & Activewear", "Sweatshirts", "Swimwear & Beachwear", "Trousers", "Underwear & Nightwear", "Suits", "Gilet & Vests", "Shirts", "Blouses & Shirts", "Coats & Outerwear", "Dresses", "Blazers", "Leather & Denim Jackets", "Jeans", "Jumpsuits", "Knitwear", "Shorts", "Tops & T-shirts", "Skirts"]}];
        scope.number_category++;
        scope.list.push(scope.number_category);
        console.log(scope.list);
        angular.element(document.getElementById('space-for-buttons')).append($compile('<div class="col-md-4 category_{{list[number_category]}}" style="border: 1px solid black;"><div class="col-md-10"><h5>Category {{number_category}}</h5></div><div class="col-md-2" remove id={{number_category}}><h5>X</h5></div><div class="col-xs-12 col-md-12 form-group"><select id="subject-select" class="form-control" required="required" ng-model="category_index"><option ng-repeat="category in countries track by $index" value="{{$index}}">{{ category.name }} </option></select></div><div class="col-xs-12 col-md-12 form-group"><select id="subject-select" class="form-control" required="required" ng-model="get_subject"><option value=""></option><option ng-repeat="item in countries[category_index].value track by $index" value="{{$index}}">{{ item }} </option></select></div></div>')(scope));
      });
    };
  });

  app.directive("remove", function(){
    return function(scope, element, attrs){
      element.bind("click", function(){
        element.remove();
      });
    };
  });
</script>

<div id="page-wrapper" ng-app="app">
  <div ng-controller="product_controller">
    <form enctype="multipart/form-data" class="form-horizontal form-label-left form" method="POST" action="/products" accept-charset="utf-8">
      <div class="row" style="border-bottom: 1px solid black;">
        <div class="col-md-8" style="border-right: 1px solid black;">
          <div class="col-md-6">
            <h4>ADD NEW PRODUCT</h4>
          </div>
          <div class="col-md-3">
            <h5>Product Status</h5>
          </div>
          <div class="col-md-3">
            <input id="active_event" type="checkbox" checked
              data-toggle="toggle" data-on="ACTIVE" data-off="INACTIVE" data-width="100" data-onstyle="success">
          </div>
        </div>

        <div class="col-md-4">
          <div class="col-md-6">
            <button class="btn btn-default" type="reset" name="reset">CANCEL</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success" id="send" type="submit">CREATE</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h4>IMAGE UPLOAD</h4>
          <%#<label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Upload Image
          </label>%>
          <input id="file-upload" type="file" name="picture"/>
        </div>
        <div class="col-md-8" style="border-left: 1px solid black; padding-left: 60px;">
          <div class="col-md-12">
            <h4>BASIC INFORMATION</h4>
          </div>
          <div class="form-group">
            <label for="style_code">Style Code:</label>
            <input type="text" class="form-control" id="style_code" name="code">
          </div>
          <div class="form-group">
            <label for="product_name">Product Name:</label>
            <input type="text" class="form-control" id="product_name" name="name_products">
          </div>
          <div class="form-group">
            <label for="gender">Gender:</label> <br/>
            <label class="checkbox-inline">
              <input type="checkbox" value="Men" name="gender[]">Men
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="Women" name="gender[]">Women
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="Kids" name="gender[]">Kids
            </label>
          </div>

          <div class="form-group">
            <label class="col-md-12" for="product_type">Product Type</label>
            <% @product_types.each do |product_type| %>
              <label class="col-md-6">
                <input type="radio" value=<%= product_type.name %> name="product_type"> <%= product_type.name %>
              </label>
            <% end %>
          </div>

          <div class="form-group">
            <label class="col-md-12" for="sell_type">Sell Type</label>
            <% @sell_types.each do |sell_type| %>
              <label class="col-md-6">
                <input type="radio" value=<%= sell_type.name %> name="sell_type"> <%= sell_type.name %>
              </label>
            <% end %>
          </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-12" style="border-top: 1px solid black;">
            <h4>DESCRIPTIVE INFORMATION</h4>
          </div>
          <div class="col-md-12">
            <div class="col-md-3 ">
              <label for="supplier_sku">Supplier SKU</label>
              <input type="text" class="form-control" id="supplier_sku" name="supplier_sku">
            </div>
            <div class="col-md-3 col-md-offset-1 ">
              <label for="season">Season</label>
              <input type="text" class="form-control" id="season" name="season">
            </div>
            <div class="col-md-3 col-md-offset-1 ">
              <label for="product_fit">Product Fit</label>
              <input type="text" class="form-control" id="product_fit" name="product_fit">
            </div>
          </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-12" style="border-top: 1px solid black;">
            <h4>Size</h4>
          </div>
            <label class="checkbox-inline">
              <input type="checkbox" value="S" name="size[]">S
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="M" name="size[]">M
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="L" name="size[]">L
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="Xl" name="size[]">XL
            </label>

        </div>

        <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-12" style="border-top: 1px solid black;">
            <h4>PRICING AND INVENTORY INFORMATION</h4>
          </div>
          <div class="col-md-12">
            <div class="col-md-3 ">
              <label for="price">EURO</label>
              <input type="text" class="form-control" id="price" name="price"> 
            </div>
        </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-12" style="border-top: 1px solid black;">
            <h4>DESCRIPTION</h4>
          </div>
            <textarea class="form-control" rows="5" id="comment" name="description"></textarea>
        </div>

        <div class="row">
          <div class="col-md-12" style="border-top: 1px solid black;">
            <h4>Product Category</h4>
          </div>
          <div class="category col-md-12">
          </div>
          <div class="col-md-12">
             <div id="space-for-buttons"></div>
             <addbuttonsbutton></addbuttonsbutton>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<style>
  <%#input[type="file"] {
      display: none;
  }
  .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
  }%>
</style>
