<div id="page-wrapper">
  <div class="row" style="margin-top: 20px; border-bottom: 1px solid black;">
    <div class="col-md-2">
      <h4>PRODUCTS</h4>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <p style="font-size:18px;">Product Status:    Active</p>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <%= link_to new_product_path do %>
        <button type="button" class="btn btn-primary">+ EDIT PRODUCT</button>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-5" style="border-right: 1px solid black; height: 70vh;">
      <img src="/img/1.jpg" alt="">
    </div>
    <div class="col-md-7" style="padding-left:20px;">
      <h4 style="color:red;">IMONI</h4>
      <p style="font-size:18px; padding-left:20px;">Doe</>
      <h4 style="color:red;">Style Code: </h4>
      <p style="font-size:18px; padding-left:20px;">DQA231oe</>
      <h4 style="color:red;">Colors</h4>
      <p style="font-size:18px; padding-left:20px;">Red</>
      <h4 style="color:red;">Sell Type:</h4>
      <p style="font-size:18px; padding-left:20px;">Pre-Order</>
      <h4 style="color:red;">EUR 30.00</h4>
      <button type="button" class="btn btn-primary" style="margin-left:70px; margin-top:40px;">VIEW COLOR AND SIZE</button>
    </div>
  </div>
</div>